numpy
scipy
infomeasure>=0.5.0
statsmodels
scikit-learn
numba
python-igraph
synthatdelays>=1.0.2
# Code Quality
pre-commit
ruff
# Testing
pytest
pytest-cov
coverage
# Documentation
sphinx
myst-nb
sphinx-design
sphinx-book-theme
sphinxcontrib-bibtex
# Plotting
matplotlib
networkx
geopandas
contextily
folium
