numpy
scipy
statsmodels
scikit-learn
numba
mkl
# Code Quality
blackd
isort
pylint
# Testing
pytest
pytest-cov
coverage
# Documentation
sphinx
myst-nb
sphinx-book-theme
sphinxcontrib-bibtex
# Plotting
matplotlib